<?xml version="1.0" encoding="utf-8"?>
<ConnString>
  <ConnectionString name="ClinicDataEntities" value="metadata=res://*/DataAccessLayer.Clinic.csdl|res://*/DataAccessLayer.Clinic.ssdl|res://*/DataAccessLayer.Clinic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WLODEKPC\SQLEXPRESS;initial catalog=ClinicData;integrated security=True;Connection Timeout = 3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <ConnectionString name="ConnectionString" value="data source=WLODEKPC\SQLEXPRESS;initial catalog=ClinicData;integrated security=SSPI;Connection Timeout = 3;MultipleActiveResultSets=True;App=EntityFramework;" />
</ConnString>